html 
{
 	font-family: 'Poppins', sans-serif;
	font-family: 'Lobster', cursive; 	
	background-color: rgb(0,0,0);
 	color: #FFFFFF;
 	width: 100%;
}
	
h1
{
	font-family: 'Lobster', cursive;
    text-align: center;
 	color: white;
   	font-size: 40px;
    margin: 50px auto 50px auto;
    width: 50%;
    padding: 50px 0 50px 0;
}

table,td,tr
{
	font-family: 'Poppins', sans-serif;
 	border-collapse: collapse;
 	margin-left: auto;
 	margin-right: auto;
 	margin-top: 0;
 	margin-bottom: 0;
  	text-align: center;
  	height: 70px;
    border: 1px solid #FFFFFF;
}


footer
{
	clear: left;
  	width: 100%;
   	color: #FFFFFF;
   	text-align: center;
   	padding: 20px;
}