html 
{
 	font-family: 'Poppins', sans-serif;
 	font-family: 'Patua One', cursive;
 	background-color: rgb(0,0,0);
 	color: #FFFFFF;
 	width: 100%;
}

body
{
	font-family: 'Patua One', cursive;
	background-image: url("solarsystem.jpg");
	backgroud-c
	
}
.header
{

   	padding: 30px;
      text-align: center;
      background: #bc1a6b;
      color: white;
      font-size: 30px;
}

table,td
{
	font-family: 'Poppins', sans-serif;
 	border-collapse: collapse;
  	width: 50%;
  	text-align: center;
    padding: 15px;
    border: 1px solid #FFFFFF;
}


footer
{

  width: 100%;
   color: #FFFFFF;
   text-align: left;
}