html 
{
 	font-family: 'Poppins', sans-serif;
 	font-family: 'Patua One', cursive;
 	background-color: rgb(0,0,0);
 	color: #FFFFFF;
 	width: 100%;
}

	
.header
{
	font-family: 'Patua One', cursive;

      text-align: center;
      color: white;
      font-size: 30px;
      	margin:200px auto 200px auto;

}

table,td
{
	font-family: 'Poppins', sans-serif;
 	border-collapse: collapse;

  	text-align: center;
  	margin:200px auto 200px auto;
    border: 1px solid #FFFFFF;

}


footer
{

  width: 100%;
   color: #FFFFFF;
   text-align: left;
}