html 
{
 	font-family: 'Poppins', sans-serif;
 	font-family: 'Patua One', cursive;
 	background-color: rgb(0,0,0);
 	color: #FFFFFF;
 	width: 100%;
}

body
{
	font-family: 'Patua One', cursive;
margin: 0;
background-image: url("solarsystem.jpg");
	
}
.header
{

	padding: 5px;
  text-align: center;
  color: white;
  font-size: 30px;
}

table,td
{
	font-family: 'Poppins', sans-serif;
 	border-collapse: collapse;
  	width: 100%;
  	text-align: center;
    padding: 15px;
    border: 1px solid #FFFFFF;
}


footer
{

  width: 100%;
   color: #FFFFFF;
   text-align: left;
}